In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]
#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    1.466139
2011-01-05   -0.166421
2011-01-07   -0.382234
2011-01-08   -0.767809
2011-01-10   -0.592157
2011-01-12   -0.134299
dtype: float64

In [3]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [4]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [5]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.339365
2000-01-02    0.443887
2000-01-03    0.033861
2000-01-04    0.385034
2000-01-05    1.346386
                ...
2002-09-22   -0.261201
2002-09-23    0.175963
2002-09-24    2.155868
2002-09-25   -2.024568
2002-09-26    0.126316
Freq: D, Length: 1000, dtype: float64

In [6]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.039300
2001-01-02    0.580975
2001-01-03   -1.454529
2001-01-04   -1.065576
2001-01-05   -0.875601
                ...
2001-12-27    1.212717
2001-12-28   -0.986824
2001-12-29    1.088068
2001-12-30    2.291357
2001-12-31   -2.329970
Freq: D, Length: 365, dtype: float64

In [8]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    1.002116
2001-05-02    0.434118
2001-05-03   -3.097272
2001-05-04    1.983349
2001-05-05    0.282547
2001-05-06   -0.771289
2001-05-07   -1.921652
2001-05-08    0.104202
2001-05-09   -0.448865
2001-05-10   -2.363422
2001-05-11   -1.845916
2001-05-12    0.971810
2001-05-13    0.204921
2001-05-14   -0.343015
2001-05-15    0.015690
2001-05-16    0.288835
2001-05-17   -0.751506
2001-05-18    1.639458
2001-05-19    0.866762
2001-05-20   -0.131254
2001-05-21   -1.296868
2001-05-22   -0.452002
2001-05-23    0.488390
2001-05-24    1.179392
2001-05-25   -1.925157
2001-05-26    0.407342
2001-05-27   -1.266529
2001-05-28    1.099967
2001-05-29   -0.740822
2001-05-30    0.280132
2001-05-31   -0.053285
Freq: D, dtype: float64

In [9]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.339365
2000-01-02    0.443887
2000-01-03    0.033861
2000-01-04    0.385034
2000-01-05    1.346386
Freq: D, dtype: float64

In [10]:
print("\nDate range-first 15 dates in 02 month 2001 year:",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year: 2000-02-01   -0.688932
2000-02-02    1.193426
2000-02-03   -1.705495
2000-02-04   -1.210281
2000-02-05   -1.228510
2000-02-06   -1.451755
2000-02-07    0.805828
2000-02-08   -0.416128
2000-02-09    1.712385
2000-02-10    1.208529
2000-02-11   -1.305611
2000-02-12   -0.078555
2000-02-13    0.502485
2000-02-14    0.519127
2000-02-15    0.277807
Freq: D, dtype: float64

In [11]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26    2.624941
2000-09-27   -1.273901
2000-09-28   -1.977182
2000-09-29   -1.280497
2000-09-30   -1.047100
                ...
2002-09-22   -0.261201
2002-09-23    0.175963
2002-09-24    2.155868
2002-09-25   -2.024568
2002-09-26    0.126316
Freq: D, Length: 731, dtype: float64

In [12]:
print("\nDate range from 26-9-2001 to 25-9-2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002:
 2001-09-26    0.164605
2001-09-27   -0.589573
2001-09-28    0.381909
2001-09-29   -0.836540
2001-09-30    0.793542
                ...
2002-09-21    0.582651
2002-09-22   -0.261201
2002-09-23    0.175963
2002-09-24    2.155868
2002-09-25   -2.024568
Freq: D, Length: 365, dtype: float64